.card_container {
    width: 20rem;
}

.card_container>* {
    margin: 1rem;
}

.card_container_styling {
    padding: 1em;

    background-image: linear-gradient(var(--secondary-background-500), var(--secondary-background-800));

    border-radius: 20px;
}

.image_container {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    
    background-color: rgb(38, 47, 60);
}

.main_heading {
    font-size: 1.4rem;
    margin-bottom: .8rem;
}

.description {
    font-size: .7rem;
    line-height: 1.5;

    color: var(--color-neutral-300);
}

.rating_btn_container {
    display: flex;
    justify-content: space-between;

    margin: 1.5rem 0;
}

.rating_btn {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    color: var(--color-neutral-300);
    background-color: var(--secondary-background-500);

    transition: background-color var(--transition-1), 
                color var(--transition-1);
}

.rating_btn:focus {
    background-color: var(--color-neutral-300);
    color: var(--color-light);
}

.rating_btn:hover {
    background-color: var(--primary-background);
    color: var(--color-light);
}

.submit_btn {
    width: 100%;

    padding: .8em 1.4em;

    border-radius: 100vh;
    background-color: var(--primary-background);

    text-transform: uppercase;
    letter-spacing: 2px;

    font-size: .8rem;

    transition: background-color var(--transition-1), 
                color var(--transition-1);
}

.submit_btn a {
    width: 100%;
}

.submit_btn:hover {
    background-color: var(--color-light);
    color: var(--primary-background);
}